<!-- Menu -->
<div id="menu_top_right"
     style="
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(-50%, 150%);
        ">
    <div class="dropdown show">
        <a class="dropdown-toggle"
           href="#"
           role="button"
           id="dropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
            Tùy chọn
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item"
               href="#"
               data-toggle="modal"
               data-target="#changeService">Đổi dịch vụ</a>
            <a class="dropdown-item"
               href="#"
               data-toggle="modal"
               data-target="#logout">Thoát</a>
        </div>
    </div>
</div>
