
@section jsFooter {
    <script>
        $('#btn_start').click(() => {
            window.location.href = '/Auth/Login'
        })
    </script>    
}

<h1 style="text-transform: uppercase">Đánh Giá Chất Lượng Dịch Vụ</h1>
<h3 class="text-secondary">Khảo sát dịch vụ ALT IELTS gia sư</h3>
<button id="btn_start" class="btn btn-danger mt-3">Bắt Đầu</button>
<div class="mt-5">
    <img style="width: 100%" src="~/Assets/group-people.svg" />
</div>