

@section jsFooter {
    <script src="~/Scripts/Handler/Login.js"></script>
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col col-6 align-self-center bg-danger">
            <div class="pl-3 pr-3 pt-3 pb-3">
                <div>
                    <img style="width: 50px"
                         src="~/Assets/login/arrow-button.png" />
                </div>
                <h3 class="text-white"><b>Đăng nhập</b></h3>
                <div class="text-left">
                    <div class="mt-2">
                        <label for="password" class="text-white"><b>Passcode</b></label>
                        <input type="password"
                               id="password"
                               class="form-control"
                               aria-describedby="passwordHelpBlock"
                               placeholder="***********" />
                        <small id="passwordHelpBlock" class="form-text text-white">
                            
                        </small>
                    </div>
                    <div class="mt-2">
                        <label for="password" class="text-white"><b>Chọn loại dịch vụ</b></label>
                        <div class="row" id="list_services">
                            <!-- render data -->
                        </div>
                        <div class="text-center mt-3">
                            <button id="submitLogin" class="btn btn-danger text-white w-100"
                                    style="
                          border-radius: 100px;
                          background-color: #af555ed1;
                          box-shadow: 0 8px 6px -6px black;
                        ">
                                Bắt Đầu Đánh Giá
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

